{% assign iframe_url = section.settings.iframe_url %}


<div class="tw-border-solid tw-font-extrabold tw-h-full tw-text-base tw-leading-5 tw-pt-2 tw-pb-48 tw-relative tw-top-0 tw-font-helveticCon tw-pl-32 tw-pr-32 tw-border-[140px] view-store-locator" style="visibility: visible;">
  <div class="store-locator-container tw-mb-16 tw-relative before:tw-bg-white before:tw-absolute before:tw-top-0 before:tw-left-0 before:tw-w-full before:-tw-z-[1] before:tw-content-[''] before:tw-h-5/6">
    <div class="light-container">
        <h1 class="heading heading-01" data-bind="stripHtml: { content: $data.heading, allowedTags: ['span'] }">{{ section.settings.header_text_general }}</h1>
    </div>
      <iframe class="store-locator-frame tw-min-h-[700px] -tw-top-[78px] tw-border-0 tw-overflow-hidden tw-relative tw-w-full tw-z-0" scrolling="no" title="Buy Now" allow="geolocation" src=""></iframe>
  </div>
  {% if page.handle == "where-to-buy" %}
    <div class="review-section">
      <div class="review">
          <h3>{{ section.settings.review_title }}</h3>
          <a href="{{ section.settings.review_url }}" aria-label="{{ section.settings.review_ada }}" {% if section.settings.open_tab == true %} target="_blank" {% endif %}>{{ section.settings.review_btn_label }}</a>
      </div>
    </div>
  {% endif %}
</div>
<style>

</style>

{% schema %}
  {
    "name": "Where To Buy",
	  "tag":"section",
    "settings": [
      {
        "type": "text",
        "id": "header_text_general",
        "label": "Header Text for All Countries"
      },
      {
        "type": "text",
        "id": "content_text",
        "label": "Content Text"
      },
      {
        "type": "image_picker",
        "id": "header_background_image",
        "label": "Header Background Image"
      },
      {
        "type": "url",
        "id": "iframe_url",
        "label": "'Where to buy' Iframe URL (Include Pid) - English"
      },
      {
        "type": "checkbox",
        "id": "activate_preselect",
        "default": false,
        "label": "Activate Preselecting Product"
      },
      {
        "type": "text",
        "id": "review_title",
        "label": "Review title",
        "default": "Leave a Review"
      },
      {
        "type": "text",
        "id": "review_btn_label",
        "label": "Review button Label"
      },
      {
        "type": "url",
        "id": "review_url",
        "label": "Review Link"
      },
      {
            "type": "checkbox",
            "id":"open_tab",
            "label":"Open in new tab?",
            "default": false
      },  
      {
        "type": "text",
        "id": "review_ada",
        "label": "ADA text for button"
      }
    ],
    "presets":[
      {
        "name":"Where to buy form",
        "category":"ADVANCED LAYOUT"
      }
    ]
  }
  {% endschema %}

  <script>
    //Allow Model / UPC Parameter
    var iframe_url = "{{ iframe_url }}";
    var activate_preselect = {{ section.settings.activate_preselect }};
    $(document).ready(function(){
    setTimeout(function(){
        if($.urlParam('modelId'))
        {
        var modelId = $.urlParam('modelId');
        var activate_preselect = true;
        }
        else
        {
        var modelId = getCookie("modelId");
        }
        if (activate_preselect == false) {
            $(".store-locator-frame").attr("src", iframe_url);
        }
        else {
          if (modelId)
          {
            $(".store-locator-frame").attr("src", iframe_url+"&model="+modelId);
          }
          else {
            $(".store-locator-frame").attr("src", iframe_url);
          }
        }
        if (modelId) {
          setCookie("modelId", "", 1);
        }
    }, 500);
});
$.urlParam = function(name){
  var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
  if (results==null){
     return null;
  }
  else{
     return results[1] || 0;
  }
}

// Function to get cookie based on param
function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}

function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    var expires = "expires="+d.toUTCString();
    document.cookie = cname + "=" + cvalue + "; " + expires + "; path=/";
}
/* Adding code for iframe locator -  */    
function receiveMessage(event) {
	var authorized_iframes = ["https://where-to-buy.co","https://staging.where-to-buy.co"];
	if (authorized_iframes.indexOf(event.origin) > -1 && typeof event.data == "object") {
		window.dataLayer = window.dataLayer || [];
		dataLayer.push(event.data);
	}
	return;
}
if (window.addEventListener) {
	window.addEventListener("message", receiveMessage, false);
}
else {
	window.attachEvent("onmessage", receiveMessage)
}
</script>
<script>
 var screenWidth = window.screen.availWidth;
 var iframe=document.getElementsByClassName('store-locator-frame')[0];
    if(screenWidth<=767){
    iframe.setAttribute("scrolling", "yes");
    }
</script>  